/* .title1{
        color: black;
        background-color: antiquewhite;
        text-align: center;
        font-size:30px;
        font-family: 'Roboto Condensed', sans-serif;


}
.title2{
    color: black;
    background-color:peru;
    text-align: center;
    font-family: 'Delicious Handrawn', cursive;
}
.title3{
    color: black;
    background-color: wheat;
    text-align: center;
    font-family: 'Schibsted Grotesk', sans-serif;
}
.title4{
    color: black;
    background-color: saddlebrown;
    text-align: center;


}
.title5{
color: black;
background-color:sandybrown;
text-align: center;
} */
.box{
    background-color: white;
    color:black;
    width:800px;
    height: 1000px;
    margin:0% auto; 
    padding:40px;  
    

}
body{
    background-image: url('https://static.vecteezy.com/system/resources/previews/011/171/111/original/white-background-with-orange-geometric-free-vector.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}